html {
  width: 100%;
  height: 100%;
}
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
}

article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* select */
select {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: rgb(204, 204, 204);
  line-height: 100%;
  padding: 10px;
  width: 100%;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: transparent;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  outline-color: rgb(204, 204, 204);
}

select:after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: rgb(204, 204, 204);
  pointer-events: none;
}

select option {
  font-size: 16px;
  font-weight: normal;
  color: #444;
  background-color: rgb(204, 204, 204);
}

/* input */
input {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  color: rgb(204, 204, 204);
  line-height: 1.3;
  padding: 10px;
  width: 100%;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: transparent;
}

input:focus {
  border-color: rgb(204, 204, 204);
  box-shadow: 0 0 5px rgb(204, 204, 204);
  outline: none;
}

/* textarea */
textarea {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  color: rgb(204, 204, 204);
  line-height: 1.3;
  padding: 10px;
  width: 100%;
  height: 80px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: transparent;
}

textarea:focus {
  border-color: rgb(204, 204, 204);
  box-shadow: 0 0 5px rgb(204, 204, 204);
  outline: none;
}

::-webkit-scrollbar {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #eee;
}

::-webkit-scrollbar-corner {
  background: #fff;
}

::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-track-piece {
  background: #fff;
  width: 8px;
}

/* p */
p {
  font-size: 15px;
  color: rgb(204, 204, 204);
  font-weight: 400;
  margin: 10px 0;
  font-family: "Helvetica Neue", sans-serif;
}

/* button */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #6699ff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

button:hover {
  background-color: #4d80e4;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* error */
#error {
  display: none;
  color: #ff0000; /* red */
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px 0;
}

/* types */
#types-container {
  display: none;
  position: relative;
  flex: 1;
  margin: 15px 0;
}
#types {
  height: 100%;
  padding: 5px 10px;
}
#copy {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* loader-container */
#loading {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: center;
}

.loader-container {
  width: 100px;
  height: 100px;
  perspective: 780px;
  position: relative;
}

.loader-child {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}
.loader-child:nth-of-type(1) {
  left: 0%;
  top: 0%;
  animation: rotate-one 1.15s linear infinite;
  border-bottom: 3px solid #5c5edc;
}
.loader-child:nth-of-type(2) {
  right: 0%;
  top: 0%;
  animation: rotate-two 1.15s linear infinite;
  border-right: 3px solid #9e85c3;
}
.loader-child:nth-of-type(3) {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1.15s linear infinite;
  border-top: 3px solid #e9908a;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
